<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script> 
</head>
<body>
  <div class="main h-screen w-screen bg-gray-100 p-10">
<div class="flex items-center justify-between p-3">
  <h2 class="text-black font-[500] text-[22px]">Khaatabook</h2>
  <a class="font-[500] mr-5 inline-block" href="/login">Login</a>
</div>
     <div class="flex items-center justify-center flex-col h-[70%]">
      <h2 class="font-[500] text-[22px]">Create your account</h2>
    <form class="mt-5" action="/register" method="post">
    <input required class="p-2 block ml-1 outline-none text-black  bg-zinc-200 rounded-md" type="text" placeholder="email" name="email">
    <input required class="p-2 block  ml-1 outline-none text-black bg-zinc-200 mt-3 rounded-md" type="password" placeholder="password" name="password">
    <input required class="block text-white block mt-6 bg-blue-500 px-3 py-2 ml-2  rounded-md" type="submit" value="Create">
    </form>
     </div>
  </div>
</body>
</html>

